<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>BetterCastSender</string>
    <key>CFBundleIdentifier</key>
    <string>com.ruobin521.extendcast</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>ExtendCast</string>
    <key>CFBundleDisplayName</key>
    <string>ExtendCast</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ExtendCastEnableUpdates</key>
	<true/>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSScreenCaptureUsageDescription</key>
    <string>ExtendCast needs to capture your screen to stream it to the receiver.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>ExtendCast needs access to audio for system sound capture (if enabled).</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>ExtendCast needs access to your local network to discover and connect to display receivers.</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_bettercast._tcp</string>
        <string>_bettercast._udp</string>
    </array>
</dict>
</plist>
